# Unity
Projects/Serializables/Library/
Projects/Serializables/Temp/
Projects/Serializables/obj/
Projects/Serializables/Logs/
Projects/Serializables/UserSettings/
Projects/Serializables/*.csproj
Projects/Serializables/*.sln

# Visual Studio
.vs/

# Mac
.DS_Store
