# Unity
src/Serializables/Library/
src/Serializables/Temp/
src/Serializables/obj/
src/Serializables/Logs/
src/Serializables/UserSettings/
src/Serializables/*.csproj
src/Serializables/*.sln

# Visual Studio
.vs/

# Mac
.DS_Store
